body{
	margin: 0px;
}

header{
	background-image: url('../img/restaurant.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.box{
	width: 650px;
	height: 150px;
	background-color: lightcyan;
	align-content: center;
	text-align: center;
}

.button{
	width: 200px;
	height: 50px;
	background-color: beige;
	border-radius: 30px;
}

.button:hover{
	background-color: whitesmoke;
}

main{
	background-color: lightgrey;
	margin-top: 0px;
}

main h1{
	text-align: center;
}

main p{
	margin-left: 120px;
}

main img{
	width: 450px;
    height: 350px;
    margin-left: 120px;
}

.pago{
	text-align: center;
	background-color: whitesmoke;
}

.pago img{
	width: 150px;
    height: 50px;
    border-radius: 55px;
    padding: 45px;
}

.info{
	background-color: beige;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
